@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Arbutus+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background-image: url('../img/Group\ 2.svg');
  height: 100vh;
  background-size: cover;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  flex-wrap: wrap;
}
.navbar-logo h1 {
  color: #24abbd;
  font-family: Arbutus, serif;
  font-weight: 400;
  font-size: 4.2rem;
  text-align: center;
  letter-spacing: 3px;
  padding: 1rem;
  text-shadow: 0px 4px 4px #000000;
}
.navbar-logo h1 span {
  color: #bd2424;
}
.navbar-items {
  display: flex;
}

.navbar-items a {
  text-decoration: none;
  color: white;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-family: 'Inter', serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
}
