@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Arbutus+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background-image: url('../../img/background.png');
  background-size: cover;
  /* background-position: center; */
  overflow: hidden;
  background-attachment: fixed;

  /* height: 100%; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  flex-wrap: wrap;
}
.navbar-logo h1 {
  color: #24abbd;
  font-family: Arbutus, serif;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 3px;
  padding: 1rem;
  text-shadow: 0px 4px 4px #000000;
}
.navbar-logo h1 span {
  color: #bd2424;
}
.navbar-items {
  display: flex;
}

.navbar-items a {
  text-decoration: none;
  color: white;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  font-family: 'Inter', serif;
  display: flex;
  align-items: center;
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 2rem auto;
  color: white;
  position: relative;
}
.search input {
  all: unset;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3rem;
  color: #eee;
  padding: 1rem 2rem;
  outline: 1px solid #eee;
  border: none;
  font-size: 2rem;
}

.search i {
  position: absolute;
  color: white;
  top: 50%;
  right: 2rem;
  font-size: 1.5rem;
  transform: translateY(-50%);
}

.movies-suggestions {
  margin: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  height: 83vh;
}
.movies-suggestions-images {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5rem;
  overflow-y: scroll;
}
.movies-suggestions-images img {
  margin: 1.4rem;
}
.movies-suggestions-images img:nth-child(odd) {
  border: #bd2424 3px solid;
}
.movies-suggestions-images img:nth-child(even) {
  border: #24abbd 3px solid;
}
/* width */
.movies-suggestions-images::-webkit-scrollbar {
  width: 1.5rem;
}

/* Track */
.movies-suggestions-images::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

/* Handle */
.movies-suggestions-images::-webkit-scrollbar-thumb {
  background: rgb(6, 164, 212);
  border-radius: 1rem;
}

/* Handle on hover */
.movies-suggestions-images ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}
.movies-suggestions-names {
  width: 50%;
  height: 83vh;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  overflow-y: scroll;
}
.movies-suggestions-names h1 {
  font-size: 3.5rem;
  font-family: 'Inter', serif;
  color: white;
  padding-bottom: 2rem;
}
.movies-suggestions-names a {
  text-decoration: none;
  font-size: 3.5rem;
  font-family: 'Inter', serif;
  color: white;
  padding-bottom: 1.5rem;
}

.movies-suggestions-names a:nth-child(even):hover {
  cursor: pointer;
  color: #bd2424;
}
.movies-suggestions-names a:nth-child(odd):hover {
  color: #24abbd;
  cursor: pointer;
}

/* width */
.movies-suggestions-names::-webkit-scrollbar {
  width: 1.5rem;
}

/* Track */
.movies-suggestions-names::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

/* Handle */
.movies-suggestions-names::-webkit-scrollbar-thumb {
  background: #bd2424;
  border-radius: 1rem;
}

/* Handle on hover */
.movies-suggestions-names ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}
