@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Arbutus+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background-image: url('../../img/background.png');
  background-size: cover;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  flex-wrap: wrap;
}
.navbar-logo h1 {
  color: #24abbd;
  font-family: Arbutus, serif;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 3px;
  padding: 1rem;
  text-shadow: 0px 4px 4px #000000;
}
.navbar-logo h1 span {
  color: #bd2424;
}
.navbar-items {
  display: flex;
}

.navbar-items a {
  text-decoration: none;
  color: white;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  font-family: 'Inter', serif;
  display: flex;
  align-items: center;
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 2rem auto;
  color: white;
  position: relative;
}
.search input {
  all: unset;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3rem;
  color: #eee;
  padding: 1rem 2rem;
  outline: 1px solid #eee;
  border: none;
  font-size: 1.5rem;
}

.search i {
  position: absolute;
  color: white;
  top: 50%;
  right: 2rem;
  font-size: 1.5rem;
  transform: translateY(-50%);
}
